body {
	background-color: #7a5e3b;
	color: #3d3427;
}
.header {
	background-color: #91734c;
	background-image: url(https://media.discordapp.net/attachments/1127218140187725845/1181789328951746580/image-removebg-preview_2.png?ex=65825614&is=656fe114&hm=65de6588c6e41829300fd0984fd63c3c6a8533d227330a00ee77580d881be029&=&format=webp&quality=lossless&width=200&height=150);
	background-repeat: no-repeat;
	background-position: center;
	border-style: double;
	padding: 3px;
	font-family: garamond;
}

img {
	width: 250px;
	height: 200px;
	border: 5px solid #7a5e3b;
}

h1, h2, h5 {
	color: #3d3427;
	font-family: garamond;
}

.information {
	background-color: #91734c;
	border: 3px double;
	width: 280px;
	height: 210px;
	padding: 5px;
	margin: 5px;
}
.destination {
	background-color: #91734c;
	border: 3px double;
	width: 280px;
	height: 210px;
	padding: 5px;
	margin: 5px;
}

.main {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
